In [2]:
import pandas as pd
df = pd.read_csv('customer_shopping_behavior.csv')

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [6]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [7]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [8]:
df['Review Rating']= df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [9]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [16]:
df.columns = df.columns.str.replace(' ', '_')
df.columns = df.columns.str.lower()
df = df.rename(columns= {'purchase_amount_(usd)':'purchase_amount'} )
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [18]:
# Create a column for 'Age Group'
labels = ['Teen', 'Adult', 'Middle Aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels=labels)

In [23]:
df[['age', 'age_group']].head(10)

   age    age_group
0   55  Middle Aged
1   19         Teen
2   50  Middle Aged
3   21         Teen
4   45  Middle Aged
5   46  Middle Aged
6   63       Senior
7   27         Teen
8   26         Teen
9   57  Middle Aged

In [30]:
#create a column for 'purchase_frequency_days'
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30, 
    'Quarterly': 90,
    'Bi weekly': 14,
    'Annually': 365,
    'Every three months': 90
}
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [31]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                     14.0            Fortnightly
1                     14.0            Fortnightly
2                      7.0                 Weekly
3                      7.0                 Weekly
4                    365.0               Annually
5                      7.0                 Weekly
6                     90.0              Quarterly
7                      7.0                 Weekly
8                    365.0               Annually
9                     90.0              Quarterly

In [33]:
df[['discount_applied', 'promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [34]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [ ]:
df = df.drop(['promo_code_used'], axis=1)

KeyError: "['promo_code_used'] not found in axis"

In [43]:
%pip install mysql-connector-python pandas sqlalchemy

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Requirement already satisfied: pandas in c:\users\abhim\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\abhim\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: numpy>=1.26.0 in c:\users\abhim\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abhim\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\abhim\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\abhim\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\abhim\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\abhim\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\users\abhim\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 173.3 kB/s eta 0:01:33
   - -------------------------------------- 0.5/16.5 MB 173.3 kB/s eta 0:01:33
   - -------------------------------------- 0.5/16.5 MB 173.3 kB/s eta 0:01:33
   - -------------------------------------- 0.5/16.5 MB 173.3 kB/s eta 0:01:33
   - -------------------------------------- 0.5/16.5 MB 173.3 kB/s eta 0:01:33
   - -------------------------------------- 0.8/16.5 MB 198.0 kB/s eta 0:01:20
   - -------------------------------------- 0.8/16.5 MB 198.0 kB/s eta 0:01:20
   - -------------------------------------- 0.8/16.5 MB 198.0 kB/s eta 0:01:20
   - -------------------------------------- 0.8/16.5 MB 198.0 kB/s eta 0:01:20
   - -------------------------------------- 0.8/16.5 MB 198.0 kB/s eta 0:01:20
   - -------------------------------------- 0.8/16.5 MB 198.0 kB/s eta 0:01:20
   -- ------------------------------------- 1.0/16.5 MB 199.4 kB/s eta 0:01:18
   -- ------------------------------------- 1.0/16.5 MB 199.4 kB/s eta 0:01:18
   -- ------------------------------------- 1.0/16.5 MB 199.4 kB/s eta 0:01:18
   -- ------------------------------------- 1.0/16.5 MB 199.4 kB/s eta 0:01:18
   -- ------------------------------------- 1.0/16.5 MB 199.4 kB/s eta 0:01:18
   -- ------------------------------------- 1.0/16.5 MB 199.4 kB/s eta 0:01:18
   -- ------------------------------------- 1.0/16.5 MB 199.4 kB/s eta 0:01:18
   --- ------------------------------------ 1.3/16.5 MB 195.3 kB/s eta 0:01:18
   --- ------------------------------------ 1.3/16.5 MB 195.3 kB/s eta 0:01:18
   --- ------------------------------------ 1.3/16.5 MB 195.3 kB/s eta 0:01:18
   --- ------------------------------------ 1.3/16.5 MB 195.3 kB/s eta 0:01:18
   --- ------------------------------------ 1.3/16.5 MB 195.3 kB/s eta 0:01:18
   --- ------------------------------------ 1.3/16.5 MB 195.3 kB/s eta 0:01:18
   --- ------------------------------------ 1.3/16.5 MB 195.3 kB/s eta 0:01:18
   --- ------------------------------------ 1.3/16.5 MB 195.3 kB/s eta 0:01:18
   --- ------------------------------------ 1.6/16.5 MB 191.5 kB/s eta 0:01:19
   --- ------------------------------------ 1.6/16.5 MB 191.5 kB/s eta 0:01:19
   --- ------------------------------------ 1.6/16.5 MB 191.5 kB/s eta 0:01:19
   --- ------------------------------------ 1.6/16.5 MB 191.5 kB/s eta 0:01:19
   --- ------------------------------------ 1.6/16.5 MB 191.5 kB/s eta 0:01:19
   --- ------------------------------------ 1.6/16.5 MB 191.5 kB/s eta 0:01:19
   ---- ----------------------------------- 1.8/16.5 MB 190.3 kB/s eta 0:01:18
   ---- ----------------------------------- 1.8/16.5 MB 190.3 kB/s eta 0:01:18
   ---- ----------------------------------- 1.8/16.5 MB 190.3 kB/s eta 0:01:18
   ---- ----------------------------------- 1.8/16.5 MB 190.3 kB/s eta 0:01:18
   ---- ----------------------------------- 1.8/16.5 MB 190.3 kB/s eta 0:01:18
   ---- ----------------------------------- 1.8/16.5 MB 190.3 kB/s eta 0:01:18
   ---- ----------------------------------- 1.8/16.5 MB 190.3 kB/s eta 0:01:18
   ----- ---------------------------------- 2.1/16.5 MB 189.4 kB/s eta 0:01:17
   ----- ---------------------------------- 2.1/16.5 MB 189.4 kB/s eta 0:01:17
   ----- ---------------------------------- 2.1/16.5 MB 189.4 kB/s eta 0:01:17
   ----- ---------------------------------- 2.1/16.5 MB 189.4 kB/s eta 0:01:17
   ----- ---------------------------------- 2.1/16.5 MB 189.4 kB/s eta 0:01:17
   ----- ---------------------------------- 2.1/16.5 MB 189.4 kB/s eta 0:01:17
   ----- ---------------------------------- 2.1/16.5 MB 189.4 kB/s eta 0:01:17
   ----- ---------------------------------- 2.1/16.5 MB 189.4 kB/s eta 0:01:17
   ----- ---------------------------------- 2.1/16.5 MB 189.4 kB/s eta 0:01:17
   ----- ---------------------------------- 2.4/16.5 MB 183.3 kB/s eta 0:01:18
   ----- ---------------------------------- 2.4/16.5 MB 183.3 kB/s eta 0:01:18
   ----- ---------------------------------- 2.4/16.5 MB 183.3 kB/s eta 0:01:18
   ----- ---------------------------------- 2.4/16.5 MB 183.3 kB/s eta 0:01:18
   ----- ---------------------------------- 2.4/16.5 MB 183.3 kB/s eta 0:01:18
   ----- ---------------------------------- 2.4/16.5 MB 183.3 kB/s eta 0:01:18
   ----- ---------------------------------- 2.4/16.5 MB 183.3 kB/s eta 0:01:18
   ------ --------------------------------- 2.6/16.5 MB 181.5 kB/s eta 0:01:17
   ------ --------------------------------- 2.6/16.5 MB 181.5 kB/s eta 0:01:17
   ------ --------------------------------- 2.6/16.5 MB 181.5 kB/s eta 0:01:17
   ------ --------------------------------- 2.6/16.5 MB 181.5 kB/s eta 0:01:17
   ------ --------------------------------- 2.6/16.5 MB 181.5 kB/s eta 0:01:17
   ------ --------------------------------- 2.6/16.5 MB 181.5 kB/s eta 0:01:17
   ------ --------------------------------- 2.6/16.5 MB 181.5 kB/s eta 0:01:17
   ------ --------------------------------- 2.6/16.5 MB 181.5 kB/s eta 0:01:17
   ------ --------------------------------- 2.9/16.5 MB 179.9 kB/s eta 0:01:16
   ------ --------------------------------- 2.9/16.5 MB 179.9 kB/s eta 0:01:16
   ------ --------------------------------- 2.9/16.5 MB 179.9 kB/s eta 0:01:16
   ------ --------------------------------- 2.9/16.5 MB 179.9 kB/s eta 0:01:16
   ------ --------------------------------- 2.9/16.5 MB 179.9 kB/s eta 0:01:16
   ------ --------------------------------- 2.9/16.5 MB 179.9 kB/s eta 0:01:16
   ------ --------------------------------- 2.9/16.5 MB 179.9 kB/s eta 0:01:16
   ------ --------------------------------- 2.9/16.5 MB 179.9 kB/s eta 0:01:16
   ------- -------------------------------- 3.1/16.5 MB 177.4 kB/s eta 0:01:16
   ------- -------------------------------- 3.1/16.5 MB 177.4 kB/s eta 0:01:16
   ------- -------------------------------- 3.1/16.5 MB 177.4 kB/s eta 0:01:16
   ------- -------------------------------- 3.1/16.5 MB 177.4 kB/s eta 0:01:16
   ------- -------------------------------- 3.1/16.5 MB 177.4 kB/s eta 0:01:16
   ------- -------------------------------- 3.1/16.5 MB 177.4 kB/s eta 0:01:16
   ------- -------------------------------- 3.1/16.5 MB 177.4 kB/s eta 0:01:16
   ------- -------------------------------- 3.1/16.5 MB 177.4 kB/s eta 0:01:16
   -------- ------------------------------- 3.4/16.5 MB 176.1 kB/s eta 0:01:15
   -------- ------------------------------- 3.4/16.5 MB 176.1 kB/s eta 0:01:15
   -------- ------------------------------- 3.4/16.5 MB 176.1 kB/s eta 0:01:15
   -------- ------------------------------- 3.4/16.5 MB 176.1 kB/s eta 0:01:15
   -------- ------------------------------- 3.4/16.5 MB 176.1 kB/s eta 0:01:15
   -------- ------------------------------- 3.4/16.5 MB 176.1 kB/s eta 0:01:15
   -------- ------------------------------- 3.4/16.5 MB 176.1 kB/s eta 0:01:15
   -------- ------------------------------- 3.7/16.5 MB 175.7 kB/s eta 0:01:14
   -------- ------------------------------- 3.7/16.5 MB 175.7 kB/s eta 0:01:14
   -------- ------------------------------- 3.7/16.5 MB 175.7 kB/s eta 0:01:14
   -------- ------------------------------- 3.7/16.5 MB 175.7 kB/s eta 0:01:14
   -------- ------------------------------- 3.7/16.5 MB 175.7 kB/s eta 0:01:14
   -------- ------------------------------- 3.7/16.5 MB 175.7 kB/s eta 0:01:14
   -------- ------------------------------- 3.7/16.5 MB 175.7 kB/s eta 0:01:14
   -------- ------------------------------- 3.7/16.5 MB 175.7 kB/s eta 0:01:14
   --------- ------------------------------ 3.9/16.5 MB 175.2 kB/s eta 0:01:12
   --------- ------------------------------ 3.9/16.5 MB 175.2 kB/s eta 0:01:12
   --------- ------------------------------ 3.9/16.5 MB 175.2 kB/s eta 0:01:12
   --------- ------------------------------ 3.9/16.5 MB 175.2 kB/s eta 0:01:12
   --------- ------------------------------ 3.9/16.5 MB 175.2 kB/s eta 0:01:12
   --------- ------------------------------ 3.9/16.5 MB 175.2 kB/s eta 0:01:12
   --------- ------------------------------ 3.9/16.5 MB 175.2 kB/s eta 0:01:12
   ---------- ----------------------------- 4.2/16.5 MB 176.0 kB/s eta 0:01:10
   ---------- ----------------------------- 4.2/16.5 MB 176.0 kB/s eta 0:01:10
   ---------- ----------------------------- 4.2/16.5 MB 176.0 kB/s eta 0:01:10
   ---------- ----------------------------- 4.2/16.5 MB 176.0 kB/s eta 0:01:10
   ---------- ----------------------------- 4.2/16.5 MB 176.0 kB/s eta 0:01:10
   ---------- ----------------------------- 4.2/16.5 MB 176.0 kB/s eta 0:01:10
   ---------- ----------------------------- 4.2/16.5 MB 176.0 kB/s eta 0:01:10
   ---------- ----------------------------- 4.5/16.5 MB 176.3 kB/s eta 0:01:09
   ---------- ----------------------------- 4.5/16.5 MB 176.3 kB/s eta 0:01:09
   ---------- ----------------------------- 4.5/16.5 MB 176.3 kB/s eta 0:01:09
   ---------- ----------------------------- 4.5/16.5 MB 176.3 kB/s eta 0:01:09
   ---------- ----------------------------- 4.5/16.5 MB 176.3 kB/s eta 0:01:09
   ---------- ----------------------------- 4.5/16.5 MB 176.3 kB/s eta 0:01:09
   ---------- ----------------------------- 4.5/16.5 MB 176.3 kB/s eta 0:01:09
   ----------- ---------------------------- 4.7/16.5 MB 176.7 kB/s eta 0:01:07
   ----------- ---------------------------- 4.7/16.5 MB 176.7 kB/s eta 0:01:07
   ----------- ---------------------------- 4.7/16.5 MB 176.7 kB/s eta 0:01:07
   ----------- ---------------------------- 4.7/16.5 MB 176.7 kB/s eta 0:01:07
   ----------- ---------------------------- 4.7/16.5 MB 176.7 kB/s eta 0:01:07
   ----------- ---------------------------- 4.7/16.5 MB 176.7 kB/s eta 0:01:07
   ------------ --------------------------- 5.0/16.5 MB 177.3 kB/s eta 0:01:06
   ------------ --------------------------- 5.0/16.5 MB 177.3 kB/s eta 0:01:06
   ------------ --------------------------- 5.0/16.5 MB 177.3 kB/s eta 0:01:06
   ------------ --------------------------- 5.0/16.5 MB 177.3 kB/s eta 0:01:06
   ------------ --------------------------- 5.0/16.5 MB 177.3 kB/s eta 0:01:06
   ------------ --------------------------- 5.0/16.5 MB 177.3 kB/s eta 0:01:06
   ------------ --------------------------- 5.0/16.5 MB 177.3 kB/s eta 0:01:06
   ------------ --------------------------- 5.0/16.5 MB 177.3 kB/s eta 0:01:06
   ------------ --------------------------- 5.2/16.5 MB 177.0 kB/s eta 0:01:04
   ------------ --------------------------- 5.2/16.5 MB 177.0 kB/s eta 0:01:04
   ------------ --------------------------- 5.2/16.5 MB 177.0 kB/s eta 0:01:04
   ------------ --------------------------- 5.2/16.5 MB 177.0 kB/s eta 0:01:04
   ------------- -------------------------- 5.5/16.5 MB 180.7 kB/s eta 0:01:01
   ------------- -------------------------- 5.5/16.5 MB 180.7 kB/s eta 0:01:01
   ------------- -------------------------- 5.5/16.5 MB 180.7 kB/s eta 0:01:01
   ------------- -------------------------- 5.5/16.5 MB 180.7 kB/s eta 0:01:01
   ------------- -------------------------- 5.5/16.5 MB 180.7 kB/s eta 0:01:01
   ------------- -------------------------- 5.5/16.5 MB 180.7 kB/s eta 0:01:01
   ------------- -------------------------- 5.8/16.5 MB 181.6 kB/s eta 0:01:00
   ------------- -------------------------- 5.8/16.5 MB 181.6 kB/s eta 0:01:00
   ------------- -------------------------- 5.8/16.5 MB 181.6 kB/s eta 0:01:00
   ------------- -------------------------- 5.8/16.5 MB 181.6 kB/s eta 0:01:00
   ------------- -------------------------- 5.8/16.5 MB 181.6 kB/s eta 0:01:00
   ------------- -------------------------- 5.8/16.5 MB 181.6 kB/s eta 0:01:00
   ------------- -------------------------- 5.8/16.5 MB 181.6 kB/s eta 0:01:00
   ------------- -------------------------- 5.8/16.5 MB 181.6 kB/s eta 0:01:00
   -------------- ------------------------- 6.0/16.5 MB 178.9 kB/s eta 0:00:59
   -------------- ------------------------- 6.0/16.5 MB 178.9 kB/s eta 0:00:59
   -------------- ------------------------- 6.0/16.5 MB 178.9 kB/s eta 0:00:59
   -------------- ------------------------- 6.0/16.5 MB 178.9 kB/s eta 0:00:59
   -------------- ------------------------- 6.0/16.5 MB 178.9 kB/s eta 0:00:59
   -------------- ------------------------- 6.0/16.5 MB 178.9 kB/s eta 0:00:59
   --------------- ------------------------ 6.3/16.5 MB 178.4 kB/s eta 0:00:58
   --------------- ------------------------ 6.3/16.5 MB 178.4 kB/s eta 0:00:58
   --------------- ------------------------ 6.3/16.5 MB 178.4 kB/s eta 0:00:58
   --------------- ------------------------ 6.3/16.5 MB 178.4 kB/s eta 0:00:58
   --------------- ------------------------ 6.6/16.5 MB 182.1 kB/s eta 0:00:55
   --------------- ------------------------ 6.6/16.5 MB 182.1 kB/s eta 0:00:55
   --------------- ------------------------ 6.6/16.5 MB 182.1 kB/s eta 0:00:55
   ---------------- ----------------------- 6.8/16.5 MB 187.8 kB/s eta 0:00:52
   ---------------- ----------------------- 6.8/16.5 MB 187.8 kB/s eta 0:00:52
   ----------------- ---------------------- 7.1/16.5 MB 193.5 kB/s eta 0:00:49
   ----------------- ---------------------- 7.1/16.5 MB 193.5 kB/s eta 0:00:49
   ----------------- ---------------------- 7.1/16.5 MB 193.5 kB/s eta 0:00:49
   ----------------- ---------------------- 7.3/16.5 MB 200.0 kB/s eta 0:00:46
   ----------------- ---------------------- 7.3/16.5 MB 200.0 kB/s eta 0:00:46
   ------------------ --------------------- 7.6/16.5 MB 205.5 kB/s eta 0:00:44
   ------------------ --------------------- 7.6/16.5 MB 205.5 kB/s eta 0:00:44
   ------------------- -------------------- 7.9/16.5 MB 210.9 kB/s eta 0:00:42
   ------------------- -------------------- 7.9/16.5 MB 210.9 kB/s eta 0:00:42
   ------------------- -------------------- 7.9/16.5 MB 210.9 kB/s eta 0:00:42
   ------------------- -------------------- 8.1/16.5 MB 217.8 kB/s eta 0:00:39
   ------------------- -------------------- 8.1/16.5 MB 217.8 kB/s eta 0:00:39
   -------------------- ------------------- 8.4/16.5 MB 223.2 kB/s eta 0:00:37
   -------------------- ------------------- 8.4/16.5 MB 223.2 kB/s eta 0:00:37
   -------------------- ------------------- 8.7/16.5 MB 228.4 kB/s eta 0:00:35
   -------------------- ------------------- 8.7/16.5 MB 228.4 kB/s eta 0:00:35
   -------------------- ------------------- 8.7/16.5 MB 228.4 kB/s eta 0:00:35
   --------------------- ------------------ 8.9/16.5 MB 235.4 kB/s eta 0:00:33
   --------------------- ------------------ 8.9/16.5 MB 235.4 kB/s eta 0:00:33
   ---------------------- ----------------- 9.2/16.5 MB 240.4 kB/s eta 0:00:31
   ---------------------- ----------------- 9.2/16.5 MB 240.4 kB/s eta 0:00:31
   ---------------------- ----------------- 9.4/16.5 MB 245.5 kB/s eta 0:00:29
   ---------------------- ----------------- 9.4/16.5 MB 245.5 kB/s eta 0:00:29
   ---------------------- ----------------- 9.4/16.5 MB 245.5 kB/s eta 0:00:29
   ----------------------- ---------------- 9.7/16.5 MB 256.2 kB/s eta 0:00:27
   ----------------------- ---------------- 9.7/16.5 MB 256.2 kB/s eta 0:00:27
   ------------------------ --------------- 10.0/16.5 MB 260.8 kB/s eta 0:00:26
   ------------------------ --------------- 10.0/16.5 MB 260.8 kB/s eta 0:00:26
   ------------------------ --------------- 10.0/16.5 MB 260.8 kB/s eta 0:00:26
   ------------------------ --------------- 10.2/16.5 MB 265.4 kB/s eta 0:00:24
   ------------------------ --------------- 10.2/16.5 MB 265.4 kB/s eta 0:00:24
   ------------------------- -------------- 10.5/16.5 MB 274.8 kB/s eta 0:00:22
   ------------------------- -------------- 10.5/16.5 MB 274.8 kB/s eta 0:00:22
   ------------------------- -------------- 10.5/16.5 MB 274.8 kB/s eta 0:00:22
   -------------------------- ------------- 10.7/16.5 MB 278.8 kB/s eta 0:00:21
   -------------------------- ------------- 10.7/16.5 MB 278.8 kB/s eta 0:00:21
   -------------------------- ------------- 11.0/16.5 MB 282.9 kB/s eta 0:00:20
   -------------------------- ------------- 11.0/16.5 MB 282.9 kB/s eta 0:00:20
   -------------------------- ------------- 11.0/16.5 MB 282.9 kB/s eta 0:00:20
   --------------------------- ------------ 11.3/16.5 MB 293.5 kB/s eta 0:00:18
   --------------------------- ------------ 11.3/16.5 MB 293.5 kB/s eta 0:00:18
   --------------------------- ------------ 11.5/16.5 MB 297.3 kB/s eta 0:00:17
   --------------------------- ------------ 11.5/16.5 MB 297.3 kB/s eta 0:00:17
   --------------------------- ------------ 11.5/16.5 MB 297.3 kB/s eta 0:00:17
   ---------------------------- ----------- 11.8/16.5 MB 300.4 kB/s eta 0:00:16
   ---------------------------- ----------- 11.8/16.5 MB 300.4 kB/s eta 0:00:16
   ---------------------------- ----------- 11.8/16.5 MB 300.4 kB/s eta 0:00:16
   ----------------------------- ---------- 12.1/16.5 MB 311.8 kB/s eta 0:00:15
   ----------------------------- ---------- 12.1/16.5 MB 311.8 kB/s eta 0:00:15
   ----------------------------- ---------- 12.3/16.5 MB 315.2 kB/s eta 0:00:14
   ----------------------------- ---------- 12.3/16.5 MB 315.2 kB/s eta 0:00:14
   ----------------------------- ---------- 12.3/16.5 MB 315.2 kB/s eta 0:00:14
   ----------------------------- ---------- 12.3/16.5 MB 315.2 kB/s eta 0:00:14
   ------------------------------ --------- 12.6/16.5 MB 316.9 kB/s eta 0:00:13
   ------------------------------ --------- 12.6/16.5 MB 316.9 kB/s eta 0:00:13
   ------------------------------- -------- 12.8/16.5 MB 328.7 kB/s eta 0:00:12
   ------------------------------- -------- 12.8/16.5 MB 328.7 kB/s eta 0:00:12
   ------------------------------- -------- 12.8/16.5 MB 328.7 kB/s eta 0:00:12
   ------------------------------- -------- 13.1/16.5 MB 331.5 kB/s eta 0:00:11
   ------------------------------- -------- 13.1/16.5 MB 331.5 kB/s eta 0:00:11
   ------------------------------- -------- 13.1/16.5 MB 331.5 kB/s eta 0:00:11

In [58]:
import mysql.connector

conn = mysql.connector.connect(
    host="127.0.0.1",        # or IP address
    user="root",             # your MySQL username
    password="Abak@990",     # your MySQL password
    database="customer_behaviour_analysis"  # your database name
)

cursor = conn.cursor()
print("Connected to MySQL")

Connected to MySQL

In [48]:
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

for table in tables:
    print(table)

In [57]:
from sqlalchemy import create_engine
import urllib.parse

# URL-encode the password to handle special characters like '@'
password = urllib.parse.quote_plus("Abak@990")
engine = create_engine(f'mysql+mysqlconnector://root:{password}@127.0.0.1/customer_behaviour_analysis', echo=False)
df.to_sql(name='customer_shopping_behavior', con=engine, if_exists='replace', index=False)

3900